
<ion-content>
<ion-card>
  <ion-card-content>
    Here goes the question
  </ion-card-content>
</ion-card>
<div class="answers">
  <ion-card>
    <ion-card-content>
      answer #1
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      answer #2
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      answer #3
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      answer #4
    </ion-card-content>
  </ion-card>
</div>

</ion-content>