ion-content {
    --background: #77bc3f;
    --color: #3880ff;
}

ion-card {
    --background: #ffffff;
    margin-top: 20px;
    padding: 20px 10px;
}

.btn {
    height: 70px;
    width: 90%;
    margin: auto;
    background: #fff;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #000;
}

