<ion-content>
  <div class="main">
    <img src="assets/logo.jpeg" alt="">
      <ion-button class="btn" color="light" expand="block" fill="solid">
        Play
      </ion-button>
      <ion-button class="btn" color="light" expand="block" fill="solid">
        LeaderBoard
      </ion-button>
      <ion-button class="btn" color="light" expand="block" fill="solid">
        Config
      </ion-button>
      <ion-button class="btn" color="light" expand="block" fill="solid">
        Log Out
      </ion-button>
  </div>
</ion-content>