<ion-content>
  <div class="main">
    <img class="im" src="assets/logo.jpeg" alt="logo" />
    <ion-card>
      <ion-toolbar>
        <ion-title class="ion-text-center">Register</ion-title>
        <ion-item lines="inset">
          <ion-label position="floating">Nickname</ion-label>
          <ion-input type="text" placeholder=" ExampleNickname123"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" placeholder="JohnDoe@gmail.com"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="123456"></ion-input>
        </ion-item>
        <ion-button>
          Click me
        </ion-button>
      </ion-toolbar>
    </ion-card>
  </div>
</ion-content>
 