<ion-content>
  <div class="main">
    <img class="im" src="assets/logo.jpeg" alt="logo" />
    <ion-card>
      <ion-toolbar>
        <!-- <ion-item lines="inset">
          <ion-label position="floating">Nickname</ion-label>
          <ion-input type="text" placeholder=" ExampleNickname123"></ion-input>
        </ion-item> -->
        <ion-item lines="inset">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" type="text" placeholder="JohnDoe@gmail.com"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="user.password" type="password" placeholder="123456"></ion-input>
        </ion-item>
        <br><br><br>
        <ion-button (click)="register()" expand="block" color="success">
          Register
        </ion-button>
      </ion-toolbar>
      <ion-button routerLink="/" class="ion-text-capitalize" fill="clear">
        Back
      </ion-button>
    </ion-card>
  </div>
</ion-content>
